---
import { ClientRouter } from "astro:transitions";
import "../styles/global.css";
import { siteInfo } from "src/consts/site-info";

interface Props {
  title?: string;
  image?: string;
  description?: string;
}

const {
  title = siteInfo.title,
  description = siteInfo.description,
  image,
} = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <!-- SEO -->
    <meta name="description" content={description} />
    <meta name="author" content={"Unai"} />

    <!-- OG Meta tags -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />

    <title>{title}</title>
    <!-- <ClientRouter /> -->
    <style>
      @view-transition {
        navigation: auto; /* enabled! */
      }
    </style>
  </head>
  <body class="bg-slate-800 text-slate-100 m-auto max-w-3xl">
    <main class="bg-slate-800 text-slate-100 m-auto max-w-3xl">
      <slot />
    </main>
  </body>
</html>
